name: 24/7 Professional Live Stream

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install FFmpeg
        run: sudo apt install -y ffmpeg

      - name: Start Stream with Clock
        env:
          STREAM_KEY: ${{ secrets.STREAM_KEY }}
        run: |
          ffmpeg -loop 1 -i background.jpg -re -i audio.mp3 -vf "drawtext=text='%{localtime\:%H\\\\\:%M\\\\\:%S}':fontcolor=white:fontsize=80:x=w-tw-50:y=50:box=1:boxcolor=black@0.5,drawtext=text='%{localtime\:%d-%m-%Y}':fontcolor=white:fontsize=40:x=w-tw-50:y=150:box=1:boxcolor=black@0.5,drawtext=text='Mo7 Radio Live':fontcolor=yellow:fontsize=30:x=w-tw-50:y=210:box=1:boxcolor=black@0.5" -c:v libx264 -preset ultrafast -b:v 2500k -bufsize 5000k -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -f flv rtmp://a.rtmp.youtube.com/live2/$STREAM_KEY
